<div class="w-75 mb-2 mx-auto">
  <%= render '/user/posts/new_post' %>
</div>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-user-tab" data-toggle="tab" href="#nav-user" role="tab" aria-controls="nav-user" aria-selected="true">すべてのユーザー</a>
    <a class="nav-item nav-link" id="nav-following-tab" data-toggle="tab" href="#nav-following" role="tab" aria-controls="nav-following" aria-selected="false">フォロー</a>
    <a class="nav-item nav-link" id="nav-follower-tab" data-toggle="tab" href="#nav-follower" role="tab" aria-controls="nav-follower" aria-selected="false">フォロワー</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab">
    <%= render 'user/users/index', users: @users %>
  </div>
  <div class="tab-pane fade" id="nav-following" role="tabpanel" aria-labelledby="nav-following-tab">
    <%= render 'user/relationships/follow_list', users: @users %>
  </div>
  <div class="tab-pane fade" id="nav-follower" role="tabpanel" aria-labelledby="nav-follower-tab">
    <%= render 'user/relationships/follow_list', users: @users %>
  </div>
</div>



