<div class="w-75 mb-2 mx-auto">
  <%= render '/user/posts/new_post' %>
</div>
<h4 class="w-75 mx-auto mt-5">すべてのユーザー</h4>
<div class="mx-auto mt-3">
  <%= render '/user/users/card', users: @users, user: @user %>
</div>



